.to-do-list-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.to-do-list-wrapper .title {
  font-size: 120px;
  margin-top: 40px;
  color: rgba(175, 47, 47, 0.4);
}
.to-do-list-wrapper .note-book {
  margin-top: 20px;
}